<h2><%= @product.name %></h2>

<h3>Cost: $<%= @product.cost %></h3>
<h3>Origin: <%= @product.origin %></h3>
<h3>Description</h3>
<h4><%= @product.description %></h4>

<div class="buttons">
  <%= link_to "Edit", edit_product_path(@product.id), class: "btn btn-info" %>
  <%= link_to "Delete", product_path(@product.id),
                            :data => {:confirm => "You sure?",
                                      :method => "delete"},
                            class: "btn btn-danger" %>
  <%= link_to "Return to products", products_path, class: "btn btn-info" %>
</div>

<h3>Reviews</h3>

<% @product.reviews.each do |review| %>
  <div class="panel">
    <div class="panel-heading">
      <%= review.author %> Submitted
      <%= time_ago_in_words(review.created_at) %>
    </div>
    <div class="panel-body">
      <p><%= review.body %></p>
    </div>
  </div>
<% end %>

<div class="panel">
  <div class="panel-heading"><h4>Add Review</h4></div>
  <div class="panel-body">
    <%= render partial: "reviews/form", locals: {product: @product} %>
  </div>
</div>
