<h2><%= @product.name %></h2>

<div class="row">
  <div class="col-md-6">
    <div class="buttons">
      <% if is_admin? %>
        <%= link_to "Edit", edit_product_path(@product.id), class: "btn" %>
        <%= link_to "Delete", product_path(@product.id),
              :data => {:confirm => "You sure?",
              :method => "delete"},
              class: "btn btn-danger" %>
      <% end %>
    </div>
    <h3>Cost: $<%= @product.cost %></h3>
    <h3>Origin: <%= @product.origin %></h3>
    <h3>Description</h3>
    <h4><%= @product.description %></h4>
  </div>

  <div class="col-md-6">
    <%= image_tag @product.image.url, class: 'image' %>
  </div>
</div>
<h3>Reviews</h3>

<div class="reviews">
  <% @product.reviews.each do |review| %>
    <div class="panel">
      <div class="panel-heading">
        <%= review.author %> Submitted
        <%= time_ago_in_words(review.created_at) %>
        <% if is_admin? %>
          <span>
            <%= link_to "Delete", product_review_path(@product, review.id),
                  :data => {:confirm => "You sure?",
                  :method => "delete"},
                  class: "btn btn-danger" %>
          </span>
        <% end %>
      </div>
      <div class="panel-body">
        <p><%= review.body %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="panel">
  <div class="panel-heading"><h4><%= link_to "Add Review", new_product_review_path(@product), id: "new_review_link", class: "btn", remote: true %></h4></div>
  <div class="panel-body" id="new_review_form">

  </div>
</div>
