<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Coffee Shop</h1>
      </div>
      <div class="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <% if current_user %>
            <li><%= link_to "Products", products_path %></li>
          <% else %>
            <li class="nav_text">Sign in to view our products</li>
          <% end %>
          <% if is_admin? %>
            <li><%= link_to "New Product", new_product_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="nav_text"><%= current_user.name %></li>
            <li><%= link_to "Sign out", '/signout' %></li>
          <% else %>
            <li><%= link_to "Sign up", 'signup' %></li>
            <li><%= link_to "Sign in", '/signin' %></li>
          <% end %>
        </ul>
      </div>


      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
